@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  background-image: url("public/main bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  backdrop-filter: blur(8px);
  margin: 0;
  padding: 0;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 96px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.586);
}

svg {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-timer path {
  stroke-opacity: 0.6 !important;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
